extends ../layout

block title
    title Обо мне

block header
    include ../modules/header


block content

    //.about
        .about__left
            .title-h1.about__title
                .title__bg.about__bg
                    img(src=`${content.about.titleBg}`)
                .title-h1__text
                    h1.title-h1__head= content.about.title

            .description.about__description
                .description__photo
                    img(src=`${content.about.descPhoto}`).description__my-photo
                .title-h2.description__title
                    .title-h2__text
                        h1.title-h2__head= content.about.descTitle
                .description__text
                    p= content.about.descP1
                    p= content.about.descP2


        .about__right
            .skill
                .title-h2.skill__title
                    .title-h2__text
                        h1.title-h2__head= content.skill.title
                .skill__description
                    p= content.skill.desc
            ul.skills
                each skill in content.skills
                    each skillsArray, skillName in skill
                        li.skills__item
                            .skill-section
                                .skill-section__title= skillName
                                ul.skill-section__list
                                    each skillTitle in skillsArray
                                        li.skills-section__item
                                            .skill
                                                svg.svg-circle.skill__circle
                                                    circle(r="45" cx="60" cy="60" stroke-width="20").svg-circle__first
                                                    circle(r="45" cx="60" cy="60" stroke-width="20" transform="rotate(-90 60 60)" class=`svg-circle__last_stroke-dasharray_${skillTitle}`).svg-circle__last
                                                .skill__name= skillTitle


    .about.grid
        .about__left.grid
            .title-h1.about__title
                .title-h1__bg
                    img(src=`${content.about.titleBg}`).img-responsive.title-h1__img
                .title-h1__text
                    h1= content.about.title

            .description.about__description
                .description__photo
                    img(src=`${content.about.descPhoto}`).img-responsive.description__my-photo
                .title-h2.description__title
                    .title-h2__text
                        h1.title-h2__head= content.about.descTitle
                .description__text
                    p= content.about.descP1
                    p= content.about.descP2

        .about__right


    .map#map
        .contacts
            .title-h2.contacts__title
                .title-h2__text
                    h1.title-h2__head= content.contacts.title
            ul.contacts__list
                each contact, index in content.contact
                    li.contacts__item
                        a(href="").contacts__link= contact
                        +icon(index)


block footer
    include ../modules/footer